.btn {
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.primary {
  color: #fff;
  background: #e16010;
}
.outline {
  color: #e16010;
  border: 1px solid #e16010;
  border-radius: 5px;
  transition: all 0.4s ease;
  &:hover {
    color: #fff;
    background: #e16010;
  }
}

// sizes
.small {
  padding: 2px 8px;
}
.medium {
  padding: 4px 10px;
}
.large {
  padding: 10px 15px;
}
